{% extends "base.html" %}
{% block content %}
  {% for post in post_list %}
    <div class="card w-50 mb-3">
    <a class="card-block stretched-link text-decoration-none" href={% url "post_detail" post.slug %}></a>
      <div class="card-header">
        <small class="text-body-secondary">by {{ post.author }} on {{ post.created }}</small>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content|slice:200 }}</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated {{ post.updated }}</small>
      </div>
    </div>
  {% endfor %}
{% endblock %}
